In [47]:
import requests
from bs4 import BeautifulSoup

url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [48]:
table = soup.find_all('table')[0]

In [49]:
world_titles = soup.find_all('th')

In [50]:
world_table_titles = [title.text.strip() for title in world_titles]
six_titles = world_table_titles[1:7]
print(six_titles)

['Name', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters[note 1]']

In [51]:
import pandas as pd

In [52]:
df = pd.DataFrame(columns = six_titles)
df

Empty DataFrame
Columns: [Name, Industry, Revenue, Profit, Employees, Headquarters[note 1]]
Index: []

In [53]:
column_data = table.find_all('tr')

In [54]:
for row in column_data[2:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data[:6]]
   
    length = len(df)
    df.loc[length] = individual_row_data

In [55]:
df

,Name,Industry,Revenue,Profit,Employees,Headquarters[note 1]
0,Walmart,Retail,"$611,289","$11,680","2,100,000",United States
1,Saudi Aramco,Oil and gas,"$603,651","$159,069","70,496",Saudi Arabia
2,State Grid Corporation of China,Electricity,"$530,009","$8,192","870,287",China
3,Amazon,Retail,"$513,983","−$2,722","1,541,000",United States
4,Vitol,Commodities,"$505,000","$15,000","1,560",Switzerland
5,China National Petroleum Corporation,Oil and gas,"$483,019","$21,080","1,087,049",China
6,China Petrochemical Corporation,Oil and gas,"$471,154","$9,657","527,487",China
7,ExxonMobil,Oil and gas,"$413,680","$55,740","63,000",United States
8,Apple,Electronics,"$394,328","$99,803","164,000",United States
9,Shell,Oil and gas,"$386,201","$20,120","93,000",United Kingdom
10,UnitedHealth Group,Healthcare,"$324,162","$20,120","400,000",United States
11,CVS Health,Healthcare,"$322,467","$4,149","259,500",United States
12,Trafigura,Commodities,"$318,476","$6,994","12,347",Singapore
13,China State Construction Engineering,Construction,"$305,885","$4,234","382,492",China
14,Berkshire Hathaway,Financials,"$302,089","−$22,82","383,000",United States
15,Volkswagen Group,Automotive,"$293,685","$15,233","675,805",Germany
16,Uniper,Electricity,"$288,309","−$19,96","7,008",Germany
17,Alphabet,Information technology,"$282,836","$59,972","190,234",United States
18,McKesson,Healthcare,"$276,711","$3,560","48,000",United States
19,Toyota,Automotive,"$274,491","$18,110","375,235",Japan
20,TotalEnergies,Oil and gas,"$263,310","$20,526","101,279",France
21,Glencore,Commodities,"$255,984","$17,320","81,284",Switzerland
22,BP,Oil and gas,"$248,891","−$2,487","67,600",United Kingdom
23,Chevron,Oil and gas,"$246,252","$35,465","43,846",United States
24,AmerisourceBergen,Healthcare,"$238,587","$1,699","41,500",United States
25,Samsung Electronics,Electronics,"$234,129","$42,398","270,372",South Korea
26,Costco,Retail,"$226,954","$5,844","304,000",United States
27,Foxconn,Electronics,"$222,535","$4,751","767,062",Taiwan
28,Industrial and Commercial Bank of China,Financials,"$214,766","$53,589","427,587",China
29,China Construction Bank,Financials,"$202,753","$48,145","376,682",China
30,Microsoft,Information technology,"$198,270","$72,738","221,000",United States
31,Stellantis,Automotive,"$188,888","$17,669","272,367",Netherlands
32,Agricultural Bank of China,Financials,"$187,061","$38,524","452,258",China
33,Ping An Insurance,Financials,"$181,566","$12,454","344,223",China
34,Cardinal Health,Healthcare,"$181,364",−$933,"46,035",United States
35,Cigna,Healthcare,"$180,516","$6,668","70,231",United States
36,Marathon Petroleum,Oil and gas,"$180,012","$14,516","17,800",United States
37,Phillips 66,Oil and gas,"$175,702","$11,024","13,000",United States
38,Sinochem,Chemicals,"$173,834",–$1,"220,760",China
39,China Railway Engineering Corporation,Construction,"$171,669","$2,035","314,792",China
40,Valero Energy,Oil and gas,"$171,189","$11,528","9,743",United States
41,Gazprom,Oil and gas,"$167,832","$17,641","468,000",Russia
42,Cargill,Conglomerate,"$165,000",...,"155,000",United States
43,China National Offshore Oil Corporation,Oil and gas,"$164,762","$16,988","81,775",China
44,China Railway Construction Corporation,Construction,"$163,037","$1,800","342,098",China
45,Baowu,Steel,"$161,698","$2,493","245,675",China
46,Schwarz Gruppe,Retail,"$159,800",...,"575,000",Germany
47,Mitsubishi Group,Conglomerate,"$159,371","$8,723","79,706",Japan
48,Ford Motor Company,Automotive,"$158,057","−$1,981","173,000",United States
49,Mercedes-Benz Group,Automotive,"$157,403","$15,252","168,797",Germany

In [56]:
df.to_csv(r'/Users/lindawang/Desktop/Techlent/Week13/Companies.csv')